table {
	border-collapse: collapse;
	table-layout: fixed;
	width:100%;
}
th, td {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}
h1 {
	text-align: center;
}
tbody > tr > td {
	height:4em;
	padding:0.5em;
	vertical-align:top;
	text-align:left;
	font-weight:bold;
}
thead > tr > th:first-child, tbody > tr > td:first-child {
	color:red;
}
thead > tr > th:nth-child(7), tbody > tr > td:nth-child(7) {
	color:blue;
}
.holiday {
	color:red;
}
div.center {
	text-align:center;
	margin-top:6em;
}
